body{
	font-family:"Microsoft YaHei";
}

/* 
分页中a标签的样式，以及其他样式
*/
.gridItem a.active {
  	cursor: default;
}
.gridItem a:active {
  	outline: none;
}
.gridItem a {
  	border-color: #ddd;
  	color: #4285F4;
  	background: #fff;
  	text-decoration: none;
}
.gridItem a:hover {
  	background: #eee;
}
.gridItem a.active, .gridItem a:active {
  	background: #4285F4;
  	color: #fff;
}
.TextBox{
	margin: 0px 5px 0px 5px;
}
#spanTotalInfor{
	color: red;
}


/*
input，输入框以及按钮的样式
*/
input[type="text"]{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 2px;
    padding: 3px 3px;
    font-size: 14px;
    font-family: "Microsoft soft";
}
input[type="text"]:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
input[type="submit"] {
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0px 20px;
    text-align: center;
}
input[type="submit"]:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}
input[type="submit"]:focus {
    border: 1px solid #4D90FE;
    outline: medium none;
}

/* 
表格中中a标签的样式,以及其他样式
*/
table a{
	color: #696969;
  	text-decoration: none;
  	border: 1px solid #ccc;
  	padding: 1px 13px 1px 13px;
  	font-size: 15px;
    border-radius: 2px;
}
table a:hover {
  	background: #eee;
}
table a.active, table a:active {
  	background: #4285F4;
  	color: #fff;
}
table
{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
table td, table th
{
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}
table thead th
{
    background-color: #CCE8EB;
    width: 100px;
}
table tr:nth-child(odd)
{
    background: #fff;
}
table tr:nth-child(even)
{
    background: #F5FAFA;
}
td.definition
{
	text-align: right;
}
td.content
{
	text-align: left;
	padding-left: 2px;
}





.label
{
    display:inline;
    padding:.2em .6em .3em;
    font-size:75%;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:.25em
}
.label:empty{display:none}
.btn .label{position:relative;top:-1px}
.label-default{background-color:#777}
.label-primary{background-color:#337ab7}
.label-success{background-color:#5cb85c}
.label-info{background-color:#5bc0de}
.label-warning{background-color:#f0ad4e}
.label-danger{background-color:#d9534f}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

msg{
    color: crimson;
}
hh{
    color: red;
}
